{% extends 'base.html.twig' %}

{% block title %}Ma commande {{order.reference}}
{% endblock %}

{% block content %}

<div class="container my-5">
	<div class="d-flex align-items-center mb-3">
        <div class="me-2">
            <a class="btn btn-success btn-sm rounded-circle" href="{{path('account_order')}}">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </div>
        <div>
            <h1 class="m-0">Commande n° {{order.reference}}</h1>
        </div>
    </div>
	<div class="row">
		<p>Commande passée le : {{order.createdAt|date("d/m/Y")}}</p>
		<p>Référence de ma commande : {{order.reference}}</p>
		<p>Transporteur choisi : {{order.carrierName}}</p>
		<p>Statut de la commande :
			{% if order.state == 1 %}
				Paiement accepté
			{% elseif order.state == 2 %}
				Préparation en cours
			{% elseif order.state == 3 %}
				Livraison en cours
			{% endif %}
		</p>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Produits</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix unitaire</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.orderDetails %}
					<tr>
						<th scope="row">{{product.product}}</th>
						<td>{{product.quantity}}</td>
						<td>{{(product.price / 100)|number_format(2, ',', ',')}}</td>
						<td>{{(product.total / 100)|number_format(2, ',', ',')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<p> Sous total :{{((order.getTotal) / 100) |number_format(2, ',', ',')}}€</p>
			<p> Livraison : {{((order.carrierPrice) / 100)|number_format(2, ',', ',')}}€</p>
			<p><span class="fw-bold"> Total :</span>{{ ((order.carrierPrice +( order.getTotal)) / 100) | number_format(2, ',', ',')}}€</p>
		</div>
	</div>
</div>
{% endblock %}

